@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --content-bg-colour: #2A2A2E;
    --main-bg-colour: #252526;
    /* Menu bg colour */
    --secondary-bg-colour: #2D2D2D;
    --link-colour: #389bff;
    --header-colour: #496aa8;
    --default-text-colour: white;
    --text-gradient-colour: #9ed7fd;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-colour);
}

body,
html {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    scroll-behavior: smooth;
}


/* Menu */

#menu-bar {
    background-color: #2d2d2d83;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5vmax;
    box-shadow: 0px 0px 10px black;
    z-index: 98;
}

#menu-content {
    /* margin: 0 auto; */
    padding-top: 1%;
    float: right;
    width: 30%;
}

#menu-bar a {
    font-size: 1vw;
    height: 100%;
    color: white;
    text-decoration: none;
    transition: color 0.25s;
}

#menu-bar a:hover,
a:active {
    color: var(--link-colour)
}

.menu-button {
    display: inline;
    text-align: center;
    padding-right: 10%;
}


/* Content */

.content {
    text-align: center;
}

.project {
    display: inline;
    border-radius: 5px;
}

.project-container {
    text-align: left;
    background-color: var(--secondary-bg-colour);
}

#projects {
    display: flex;
}

#left {
    flex: 0 0 50%;
}

#right {
    flex: 1;
}

.project-thumb {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 9.5vw;
    background-size: 9.5vw 9.5vw;
    position: absolute;
}

.project-thumb-background {
    margin-left: 41%;
    padding: .25vw;
    background-image: linear-gradient(to bottom right, var(--header-colour), var(--link-colour));
    background-size: 10vw 10vw;
    background-repeat: no-repeat;
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 50%;
    background-size: cover;
}

.project-thumb-icon {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 9.5vw;
    position: absolute;
    opacity: 0;
    background-image: url("../images/icons/github.png");
    background-size: 5vw 5vw;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 101;
    transition: 0.5s;
}

.project-thumb-icon:hover {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.project-thumb-icon a {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 9.5vw;
    display: inline-block;
}

.content-header {
    font-size: 3.25vw;
    padding-top: 1vh;
    font-weight: 900;
    background-image: linear-gradient(to right, blue, var(--text-gradient-colour));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer */
#footer {
    background-color: var(--content-bg-colour);
}

#footer a, a:visited {
    text-decoration: none;
    color: var(--default-text-colour);
}

#footer a:hover {
    text-decoration: underline;
}

.footer-name {
    float: left;
    margin-left: 1%;
}

.footer-source {
    float: right;
    margin-right: 1%;
}


/* Special rules for tools section */

.split-into-three {
    margin: 30px;
    justify-content: space-between;
    flex-direction: row;
}

.split-into-three>div {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
}

.project-thumb-tool {
    margin-left: 35%;
}


/* Down button */

#down-button {
    background-color: steelblue;
    color: white;
    font-size: 2.5vh;
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    margin: 0 auto;
    width: 3vh;
    text-align: center;
    z-index: 200;
    filter: blur(0);
    box-shadow: 0px 0px 16px black;
    transition: .25s;
}

#down-button a,
#down-button a:visited,
#down-button a:active {
    color: white;
}

#down-button:hover,
#down-button:active {
    box-shadow: 0px 0px 32px black;
    font-size: 3vh;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 3.5vh;
    width: 3.5vh;
    text-align: center;
    background-color: rgb(91, 168, 231);
}


/* Welcome message */

#welcome-message {
    font-size: 3.25vw;
    text-align: center;
    width: 100%;
    z-index: 95;
    position: absolute;
    top: 128px;
    animation: fadein 3s;
    font-weight: 100;
}


/* Intro */

#blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 500;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


/* Background */

#background-canvas {
    position: static;
    z-index: -100;
    margin-left: 0px;
    margin-top: 0px;
    filter: blur(64px) brightness(75%);
}

#main {
    z-index: 1;
}


/* Scrollbar */

html {
    /* Firefox */
    scrollbar-color: dark;
    scrollbar-width: thin;
}


/* Chrome, Safari, Opera */

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-track {
    background: #202023
}

 ::-webkit-scrollbar-thumb {
    background: #787879
}

 ::-webkit-scrollbar-thumb:hover {
    background: #656566;
}


/* General rules */


/* https://stackoverflow.com/a/4407335 */

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.no-blur {
    filter: blur(0);
}

.shadow-top {
    box-shadow: 0px 5px 15px var(--main-bg-colour), 0px -5px 15px var(--main-bg-colour);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}


/* Mobile rules */

@media only screen and (max-width: 600px) {
    #menu-bar a {
        font-size: 3vw;
        text-decoration: none;
        display: inline;
    }
    #menu-content {
        width: 50%;
    }
    #menu-bar {
        height: 7.5%;
    }
    .content-header {
        font-size: 2.75vh;
    }
    #welcome-message {
        margin-top: 25%;
        font-size: 3vh;
    }
    .project h2 {
        font-size: 2vh;
    }
    .project p {
        font-size: 1.25vh;
    }
}

@media only screen and (min-width: 600px) {
    #down-button {
        background-color: steelblue;
        color: white;
        font-size: 2.5vw;
        width: 3vw;
        height: 3vw;
        border-radius: 3vw;
        margin: 0 auto;
        width: 3vw;
        text-align: center;
        z-index: 200;
        filter: blur(0);
        box-shadow: 0px 0px 16px black;
        transition: .25s;
    }
    #down-button:hover {
        box-shadow: 0px 0px 32px black;
        font-size: 3vw;
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 3.5vw;
        width: 3.5vw;
        text-align: center;
        background-color: rgb(91, 168, 231);
    }
}